:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Space Mono";
  font-size: 16px;
  color: var(--dark-grayish-cyan);
  background-color: var(--light-grayish-cyan);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  align-items: center;
}

header {
  margin-top: 2rem;
}
.calculator-card {
  background-color: var(--white);
  margin-top: 3rem;
  border-radius: 2rem 2rem 0rem 0rem;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
}
h1 {
  padding-top: 2rem;
  font: inherit;
}
.bill {
  margin-top: 0.5rem;
  width: 19rem;
  height: 3rem;
  padding: 0.5rem 1rem 0rem 0rem;
  border-radius: 0.3rem;
  border: none;
  background-color: var(--very-light-grayish-cyan);
  text-align: right;
  font: inherit;
}
.bill::placeholder {
  font-size: 1.5rem;
}
.dollar {
  position: relative;
  transform: translate(-2700%, 0%);
}
h2 {
  padding-top: 0.5rem;
  padding-right: 8rem;
  font: inherit;
}
.tip-percent-wrapper {
  padding-top: 0.5rem;
  width: 20.5rem;
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
}
.active {
  background-color: var(--strong-cyan) !important;
  color: black !important;
}

.tip-percent-wrapper button {
  width: 9.125rem;
  height: 3rem;
  font: inherit;
  font-size: 1.2rem;
  color: white;
  background-color: var(--very-dark-cyan);
  border: none;
}
.tip-percent-wrapper button:hover {
  background-color: var(--strong-cyan);
  color: black;
  cursor: pointer;
}

.tip-percent-wrapper input {
  width: 8.5rem;
  height: 3rem;
  padding-right: 0.625rem;
  font: inherit;
  font-size: 1.2rem;
  background-color: var(--very-light-grayish-cyan);
  border: none;
  text-align: right;
}
h3 {
  padding-top: 0.5rem;
  font: inherit;
}
.ppl-number {
  margin-top: 0.5rem;
  width: 19rem;
  height: 3rem;
  padding: 0.5rem 1rem 0rem 0rem;
  border-radius: 0.3rem;
  border: none;
  background-color: var(--very-light-grayish-cyan);
  text-align: right;
  font: inherit;
}
.ppl-number::placeholder {
  font-size: 1.5rem;
}
.person {
  position: relative;
  transform: translate(-2300%, 0%);
}
.tip-summary-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 2rem;
  width: 20.5rem;
  height: 16rem;
  background-color: var(--very-dark-cyan);
}
.tip-summary-card button {
  width: 9.125rem;
  height: 3rem;
  font: inherit;
  font-size: 1.2rem;
  color: white;
  background-color: var(--strong-cyan);
  border: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.tip-summary-card button:hover {
  background-color: var(--strong-cyan);
  color: black;
  cursor: pointer;
}
.results {
  width: 80px;
}
.tip-amount-wrapper {
  width: 17.5rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}
.total-wrapper {
  width: 17.5rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.active {
  background-color: var(--strong-cyan);
  color: black;
}
